<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>faces</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="container">
  <canvas height="400" width="400"></canvas>
</div>
<script id="live-reload" src="http://192.168.0.10:35729/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>
