<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url"                content="https://radiodario.github.io/faces" />
  <meta property="og:title"              content="Faces" />
  <meta property="og:description"        content="An ever-changing feeling" />
  <meta property="og:image"              content="https://radiodario.github.io/faces/img/face.png" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@radiodario">
  <meta name="twitter:creator" content="@radiodario">
  <meta name="twitter:title" content="Faces">
  <meta name="twitter:description" content="An ever-changing feeling">
  <meta name="twitter:image" content="https://radiodario.github.io/faces/img/face.png">
  <title>faces</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="container">
  <canvas></canvas>
</div>
<script id="live-reload" src="http://192.168.0.10:35729/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>
